{% if service.dependencies is defined and not service.dependencies is empty %}

<div class="nobr">
<h2>Details for service "{{ service.name }}"</h2>


<div class="graph"><img src="{{ zabbix_servicegraph({serviceid:service.serviceid, width:"100", height:"70", stime:FROM|date("U"), period:PERIOD}) }}" /></div>
</div>

<p>
{% if service.algorithm == 1 %}
Service "{{ service.name }}" had a problem, if at least one of the following services had a problem.
{% elseif service.algorithm == 2 %}
Service "{{ service.name }}" had a problem, if all of the following services had a problem.
{% else %}
Service state is not calculated for service "{{ service.name }}".
{% endif %}
</p>

{% set serviceids = [] %}
{% for dep in service.dependencies %}
	{% set serviceids = serviceids|merge([dep.servicedownid]) %} {# collect service ids to array #}
{% endfor %}
{% include 'report1/servicetable.html.twig' with {serviceids : serviceids} %}

{% for dep in serviceids %}
	{% set srv = zabbix_service_get({ output:'extend', serviceids:dep,  selectDependencies:"extend" }) %}
	{% include 'report1/detail.html.twig' with {service : srv[0] } %}
{% endfor %}

{#% include 'report1/detail-items.html.twig' %#}

{% endif %}