<html>
<head>
	{% set REPORT_TITLE = "IT Service Availability Report" %}
	{% include 'common/common-head.html.twig' %}
	{% set PERIOD = TO|date("U") - FROM|date("U") %}
</head>
<body>
{% include 'common/common-body.html.twig' %}
{% import 'common/common-macros.twig' as m %}

<h1>{{ REPORT_TITLE }}</h1>

<p>This SLA report was created at: {{ "now"|date(timeformat) }}</p>
<p>Report time period: {{ FROM|date(timeformat) }} - {{ TO|date(timeformat) }} ({{ m.format_secs(PERIOD) }})</p>

{% include 'report1/overview.html.twig' %}

{% for service in zabbix_service_get({ output:'extend', filter:{ showsla:"1" }, selectDependencies:"extend" }) %} {# iterate over all IT services #}
	{% include 'report1/detail.html.twig' with {service : service} %}
{% endfor %} {# end iterate over all IT services #}


</body>
</html>
